h1 {
    font-size: 400%;
    text-shadow: 10px 2px blue;
    font-style: normal;
}

body {
    font-family: 'Bungee Inline', cursive;
    color: white;
    background: linear-gradient(to left, #780206, #061161);
    border-radius: 25px;
}

#board {
    margin-top: 10px;
    left: 10%;
    background: linear-gradient(to left, #780206, #061161);
}

.box {
    border: 4px solid white;
    border-radius: 25px;
    height: 150px;
    cursor: pointer;
}

.exes {
    background: url(https://image.ibb.co/g5Actv/EXES.png) no-repeat center;
}

.ohs {
    background: url(https://image.ibb.co/jL1QDv/OHS.png) no-repeat center;
}
